
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding: 20px;
}

#h_taller {
    margin-top: -750px;
    position: absolute;
    font-size: 25px;
    font-weight: 600;
    color: #4f46e5;
}

#h_registro {
    margin-top: -475px;
    position: absolute;
    font-size: 25px;
    font-weight: 600;
    color: #4f46e5;
}

form {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;
}

label {
    display: block;
    font-size: 13.3px;
    font-weight: 600;
    margin-bottom: 8px;
    color: black;
}

input[type="text"],
input[type="mail"],
input[type="int"],
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #9ea9b8;
    border-radius: 8px;
    background-color: white;
    font-size: 13.3px;
    font-style:italic;
    box-sizing: border-box; 
    margin-bottom: 25px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #4f46e5;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.1);
}

input[type="file"]::file-selector-button {
    align-items: center;
    background-color: #e2e8f0;
    color: black;
    padding: 0.5rem 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
}

button[type="submit"] {
    width: 100%;
    cursor: pointer;
    background-color:  #6d65cd;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
}

button[type="submit"]:hover {
    background-color: #4338ca;
}
